a {color: black;}

body {background-image: url("http://www.powerpointhintergrund.com/uploads/cool-light-grey-background-fantastic-24.jpeg");
   background-color: #cccccc;}

body {
  font-family: Courier New, Courier, mono;
  font-size: 20px;
}
h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
