body {
  font-family: 'Courier New', Courier, mono;
  font-size: 20px;}

.bgimg{background-image: url(website.jpg);

h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  
  li {
    display: list-item;
    text-align: -webkit-match-parent;
}
