body {
  font-family: 'Courier New', Courier, mono;
  font-size: 20px;}

.wrapper { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
background-size: 1800% 1800%;


h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;

  
